<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Offline</title>
</head>
<body>
    <h1>Sorry!! <br> No Internet Connection</h1>
    <div>
        <img id="no-internet" src="/Plugins/Progressive.Web.App/Content/Images/NoConnection.jpg" alt="No Internet Connection" />
    </div>
    <div>
        <img id = "logo" src="/Plugins/Progressive.Web.App/Content/Icons/safari-pinned-tab-blue.svg" alt="NopCommerce" />
    </div>
</body>
</html>
<style>
    body {
        color: #248ece;
        text-align: center;
        margin: 50px 0;
    }
    #logo {
        height: calc(100vw - 75vw);
        max-height: 150px;
        min-height: 50px;
    }
    #no-internet {
        max-width: 100vw;
    }
</style>